
$font-primary: "Geometria";
$font-size: 16px;
$colorBg: red;

//colors
$bg-color: #080807;
$inp-color: #10100E;
$str-color: #4F4F4F;
$bd-text-color: #8E938C;
$titles-color: #F7FFEE;
$accent-color: #B1FF5C;
$hv-accent-color: #9AF03C;
$sc-accent: #42882A;
$reject-color: #FF3D3D;
$verification-color: #FFB444;